---
layout: default
title : Homepage
navbar_title: Home
---

<div class="row">
    <div class="col-lg-3 col-md-4">
        {% include widgets/profile_card_mini.html %}
        <!-- <script type="text/javascript" id="mmvst_globe" src="//mapmyvisitors.com/globe.js?d=RrMafwhMVadzJP24iEV6oz23eyW8myTTmPGUADcNk40"></script> -->
        <!-- <div class="mmv-wrapper">
            <script
              type="text/javascript"
              id="mapmyvisitors"
              src="https://mapmyvisitors.com/map.js?cl=080808&w=a&t=tt&d=4zploR3W9QUe2ddXLL_eh3cB3uPPpIItqESpeGyqR3o&co=ffffff&cmo=3acc3a&cmn=ff5353&ct=000000">
            </script>
        </div> -->
          
    </div>
    <div class="col-lg-9 col-md-8">
        
        {% include widgets/profile_card_bio_only.html %}

        <!-- Debugging widgets -->
        {% include widgets/debug_repo_name.html %}
        {% include widgets/debug_url.html %}

        {% if site.data.display.homepage.show_experience %}
            {% include widgets/experience_card.html %}
        {% endif %}

        {% include widgets/research_overview.html %}

        {% if site.data.display.homepage.show_news %}
        {% assign count_news = site.news | size %}
        {% if count_news > 0 %}
        {% include widgets/news_card.html limit=site.data.display.homepage.num_news %}
        {% endif %}
        {% endif %}

        {% if site.data.display.homepage.show_selected_publications %}
        {% assign pubs = site.publications | sort: "date" | reverse | where: "selected", true %}
        {%
        include widgets/publication_card.html
        publications=pubs
        title='<img src="/assets/emojis/glowing-star.jpeg" alt="Star" style="height: 1.6em; width: auto; vertical-align: middle; margin-left: 0.2em; margin-right: 0.3em; display: inline-block;"> Selected Publications'
        %}
        {% endif %}
    </div>
</div>
