<style>
    .pub-link {
        color: #98A8F8;
    }
    
    .view-all-link {
        color: #98A8F8;
    }
    
    .custom-radius {
        border-radius: 15px;
    }
    </style>
    

 
<div class="my-3 p-0 bg-white shadow-sm custom-radius">
    <div class="card-body">
        <div class="d-flex align-items-center mb-2">
            <img src="{{ '/assets/emojis/astronaut.jpeg' | relative_url }}" alt="Star" style="height: 1.6em; width: auto; margin-right: 0.55em;">
            <h6 class="mb-0">Research Overview</h6>
        </div>
        <p class="card-text">
            During my Ph.D., I focus on the study of dust in protoplanetary disks using millimeter- and centimeter-wavelength interferometry with ALMA and VLA. 
            My work extends high–spatial-resolution mapping of dust distributions in  <strong>disks around low-mass stars (later than M3)</strong>, 
            a population that dominates our Galaxy yet has been poorly sampled due to the compactness and faint brightness.

        </p>
        <p class="card-text">
            Knowledge of dust properties in disks is essential to understand dust evolution and planet formation. 
            Using broadband, spatially resolved, multi-wavelength observations, 
            I investigate the disk around the Herbig Ae star MWC 480, 
            placing constraints on the grain properties and dynamics of dust.
        </p>
        <p class="card-text">
            In parallel, I have led and contributed to ALMA observing proposals building upon my previous studies, 
            aiming to address topics such as dust growth in protostellar disks and 
            the influence of dust substructures around low-mass stars on inner-disk chemistry.
        </p>
    </div>
</div>
 